src/resources/xforms_specification_examples/surveyschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="drink" type="xs:string"/>
        <xs:simpleType name="coffeedrinks">
            <xs:restriction base="xs:string">
                <xs:enumeration value="espresso"/>
                <xs:enumeration value="cappuccino"/>
                <xs:enumeration value="latté"/>
                <xs:enumeration value="none"/>
            </xs:restriction>
        </xs:simpleType>
    <xs:element name="espressoPrefs">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="numberPerWeek"/>
                <xs:element ref="sugar"/>
                <xs:element ref="lemon"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="lemon" >
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Always"/>
                <xs:enumeration value="Indifferent"/>
                <xs:enumeration value="Never"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="numberPerWeek">
            <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger">
                <xs:minInclusive value="0"/>
                <xs:maxExclusive value="30"/>
            </xs:restriction>
        </xs:simpleType>
        </xs:element>
    <xs:element name="sugar" type="xs:boolean"/>
    <xs:element name="survey">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="drink"/>
                <xs:element ref="espressoPrefs"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
